
/.idea/
/clamav
/clamav_linux_amd64
/clamav_windows_amd64.exe
/clamav_linux_arm
/clamav_netbsd_arm
/clamav_openbsd_amd64
/clamav_freebsd_386
/clamav_linux_386
/clamav_netbsd_386
/clamav_netbsd_amd64
/clamav_darwin_386
/clamav_openbsd_386
/clamav_freebsd_amd64
/clamav_windows_386.exe
/clamav_freebsd_arm
/clamav_darwin_amd64
/filedefs/daily.fp
/filedefs/daily.wdb
/filedefs/daily.hsb
/filedefs/daily.ign2
/filedefs/daily.hdu
/filedefs/daily.ndb
/filedefs/daily.mdb
/filedefs/daily.pdb
/filedefs/daily.info
/filedefs/daily.hsu
/filedefs/daily.msb
/filedefs/daily.mdu
/filedefs/daily.ldu
/filedefs/daily.sfp
/filedefs/daily.ndu
/filedefs/daily.crb
/filedefs/daily.ign
/filedefs/daily.msu
/filedefs/daily.cvd
/filedefs/COPYING
/filedefs/daily.cfg
/filedefs/daily.hdb
/filedefs/daily.idb
/filedefs/daily.ldb
/filedefs/daily.ftm
/filedefs/daily.cdb
